/* ==========================================
   ADMIN NOTIFICATION
========================================== */

.admin-notification {
    position: relative;
}


/* Bell */

.notification-button {
    position: relative;

    border: none;

    background: transparent;

    font-size: 24px;

    cursor: pointer;

    padding: 8px;
}


/* Count */

.notification-count {
    position: absolute;

    top: 0;

    right: 0;

    min-width: 20px;

    height: 20px;

    padding: 2px;

    background: red;

    color: white;

    border-radius: 50%;

    font-size: 12px;

    display: flex;

    justify-content: center;

    align-items: center;
}


/* Dropdown */

.notification-dropdown {
    position: absolute;

    top: 45px;

    right: 0;

    width: 350px;

    max-height: 500px;

    overflow-y: auto;

    background: white;

    border: 1px solid #ddd;

    border-radius: 10px;

    box-shadow:
        0 5px 20px
        rgba(0, 0, 0, 0.15);

    z-index: 9999;
}


/* Header */

.notification-header {
    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 15px;

    border-bottom: 1px solid #eee;
}


.notification-header h3 {
    margin: 0;
}


.notification-header button {
    border: none;

    background: transparent;

    cursor: pointer;
}


/* Notification */

.notification-item {
    padding: 15px;

    border-bottom: 1px solid #eee;
}


.notification-item.unread {
    background: #fff7df;
}


.notification-item.read {
    background: white;
}


.notification-item h4 {
    margin: 0 0 7px;

    font-size: 16px;
}


.notification-item p {
    margin: 0 0 10px;

    font-size: 14px;
}


.notification-item button {
    border: none;

    background: #333;

    color: white;

    padding: 6px 10px;

    border-radius: 5px;

    cursor: pointer;
}


/* Empty */

.no-notification {
    padding: 20px;

    text-align: center;

    color: #777;
}