*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.contact-container{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#1d1710;
    padding:40px 20px;
}

.contact-card{
    width:100%;
    max-width:600px;
    background:#2f2720;
    padding:35px;
    border-radius:16px;
    box-shadow:0 18px 45px rgba(0,0,0,0.35);
    border:1px solid rgba(255,255,255,0.08);
}

.contact-card h1{
    text-align:center;
    margin-bottom:10px;
    color:#f8f4ef;
}

.contact-card p{
    text-align:center;
    color:#d3b58d;
    margin-bottom:25px;
}

.contact-card form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.contact-card input,
.contact-card textarea{
    width:100%;
    padding:14px;
    border:1px solid #4c3f34;
    border-radius:8px;
    outline:none;
    font-size:16px;
    transition:.3s;
    background:#2b231c;
    color:#f8f4ef;
}

.contact-card input::placeholder,
.contact-card textarea::placeholder {
    color:#b8a687;
}

.contact-card input:focus,
.contact-card textarea:focus{
    border-color:#d29f68;
    box-shadow:0 0 10px rgba(210,159,104,.2);
}

.contact-card textarea{
    resize:none;
}

.contact-card button{
    padding:14px;
    border:none;
    border-radius:8px;
    background:#d29f68;
    color:#2a1f14;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

.contact-card button:hover{
    background:#b6864a;
}

.contact-card button:disabled{
    background:#7f6a54;
    cursor:not-allowed;
}

@media(max-width:768px){

.contact-card{
    padding:25px;
}

.contact-card h1{
    font-size:28px;
}

.contact-card input,
.contact-card textarea,
.contact-card button{
    font-size:15px;
}
}