.feedback-container{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#1d1710;
    padding:40px 20px;
}

.feedback-form{
    width:450px;
    background:#2f2720;
    padding:30px;
    border-radius:16px;
    box-shadow:0 18px 45px rgba(0,0,0,.35);
    border:1px solid rgba(255,255,255,0.08);
}

.feedback-form h2{
    text-align:center;
    margin-bottom:20px;
    color:#f8f4ef;
}

.feedback-form input,
.feedback-form select,
.feedback-form textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #4c3f34;
    border-radius:6px;
    font-size:16px;
    outline:none;
    background:#2b231c;
    color:#f8f4ef;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
    color:#b8a687;
}

.feedback-form textarea{
    resize:none;
}

.feedback-form button{
    width:100%;
    padding:12px;
    background:#d29f68;
    color:#2a1f14;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:17px;
    transition: background-color 0.2s ease;
}

.feedback-form button:hover{
    background:#b6864a;
}